/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

body {
  margin: 0;
  font-family: Roboto Mono, monospace;
}

* {
  box-sizing: border-box;
}